@model My_Journal.Models.Ofrenda.OfrendaViewModel

@{
    ViewData["Title"] = "Crear Ofrenda";
}

<link href="/theme-assets/css/app-lite.css" rel="stylesheet" />
<link href="/theme-assets/css/bootstrap.css" rel="stylesheet" />
<link href="/theme-assets/css/bootstrap-extended.css" rel="stylesheet" />
<link href="/theme-assets/css/colors.css" rel="stylesheet" />
<link href="/theme-assets/css/components-lite.css" rel="stylesheet" />
<link href="/theme-assets/css/core/colors/palette-gradient.css" rel="stylesheet" />
<link href="/theme-assets/css/pages/dashboard-ecommerce.css" rel="stylesheet" />
<link href="/theme-assets/css/core/menu/menu-types/vertical-menu.css" rel="stylesheet" />
<link rel="apple-touch-icon" href="theme-assets/images/ico/apple-icon-120.png">
<link rel="shortcut icon" type="image/x-icon" href="theme-assets/images/ico/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">
<link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/60f66db414.js" crossorigin="anonymous"></script>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<style>
    .btn-success{
        background: #2a8358;
    }
    label
    {
        font-weight:500;
    }
</style>
<form class="form" asp-action="Create">
    <div class="card-body">
        <div class="form-group row">
            <div class="form-group col-lg-4" style="overflow:visible">
                @Html.LabelFor(model => model.OfrendaCategoria.IdCatOfrenda, "Categoría", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.OfrendaCategoria.IdCatOfrenda, (SelectList)ViewBag.ListadoOfrendasCategorias, "Seleccione una categoría", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-lg-5">
                <label>Descripción</label>
                <input asp-for="Ofrenda.Descripcion" type="text" class="form-control" placeholder="Ej. Ofrenda del culto dominical" />
                <span class="form-text text-muted"></span>
                <span asp-validation-for="@Model.Ofrenda.Descripcion" class="text-danger"></span>
            </div>
            <div class="col-lg-3">
                <label>Cantidad</label>
                <input asp-for="Ofrenda.Cantidad" type="number" step="0.01" min="1" class="form-control" placeholder="Ingrese algo..." />
                <span class="form-text text-muted"></span>
            </div>
            <div class="form-group col-lg-4" style="overflow:visible">
                @Html.LabelFor(model => model.Divisa.IdDivisa, "Divisa", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.Divisa.IdDivisa, (SelectList)ViewBag.ListadoDivisa, "Seleccione la Divisa", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-lg-3">
                <label>Tasa de Cambio</label>
                <input asp-for="Ofrenda.TasaCambio" type="number" step="0.01" min="1" class="form-control" placeholder="Ingrese algo..." />
                <span class="form-text text-muted"></span>
            </div>
            <div class="form-group col-lg-2">
                @Html.LabelFor(model => model.Ofrenda.Fecha, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Ofrenda.Fecha, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @Value = DateTime.Now.ToString("yyyy-MM-dd") } })
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-lg-6">
                    <button type="submit" value="Create" class="btn btn-success">Crear</button>
                    <button asp-controller="Ofrendas" asp-action="Index" class="btn btn-secondary">Cancelar</button>
                </div>
            </div>
        </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}